#search {
	margin: 0 0 20px 0;
	display: none;
}
.header-font {
	font-size: 20px;
}

.free_div_pad {
	padding: 0;
}
#map-display {
    width: 100%;
    height: 600px;
}
#lists-bar {
	height: auto;
	max-height: 550px;
	width: 100%;
	overflow: scroll;
	border: none;
	padding: 0;
	margin: 0;
}

#prod-list-height {
	min-height: 263px;
	border: none;
	padding: 0;
}

.text-pos-header {
	text-align: center;
}

.set-text-center{
	text-align: center;
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
	width: 345px;
}

.suggestion-header {
	font-size: 150%;
}